/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-apr-2017, 11.26.46
    Author     : studente
*/
h1{
    margin-top: 0px;
    color:  #111111;
    font-weight: bold;
    font-size: 30px;
    background-color: cornsilk;
}

h2{   
    font-size: 20px;
}

h3{
    font-size: 15px;
}

body {
    color: #111111;
    background-color:  moccasin;
    font-family: "Open Sans", Arial, sans-serif; 
}

#divBody{
    margin-top: 20px;
    padding-top: 30px;
}

header {
    position: fixed;
    text-align: left;
    width:100%;
    height:auto;
    padding-top: 20px;
}

.nav_bar{
    float:left;
    list-style-type: none;
    margin-top:2px;
    margin-right: 10px;
    margin-left: 5px;
    padding: 0px;
    /*border:1px solid black;*/
    
}

#title{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    float:left;
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    background-color: papayawhip;
    color: #111111;
}

.Post{
    float:left;
    margin-bottom:10px;
    margin-top: 3px;
    margin-left: 200px;
}

.Post_body{
    margin-left: 20px;
    margin-bottom: 15px;
    border:1px solid black;
    padding:10px;
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    background-color: white;
    color: #111111;
}

.head_post{
    float:left;
    margin-right: 10px;
}

.head_post h2{
   margin-top: 4px;  
   margin-bottom: 4px;
}

.contenuto{
    margin-top: 60px;
    margin-bottom: 0px;
}

.barra_laterale{
    float:left;
    width:200px;
    border:1px solid black;
    margin-top: 3px;
    margin-left: 5px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    background-color:  papayawhip;
    color: #111111;
}
.barra_laterale ul{
    list-style-type: none;
    margin:0;
    padding:0;
    width:200px;
}
.barra_laterale li{
    display:block;
    padding:8px 16px;
}
.barra_laterale h2{
    margin-left: 15px;
}

.Post Id{
    position: static;
    display:  inline-block;
}
 
a:link{
    text-decoration: none;
    color: #111111;
    background-color: cornsilk;
}

a:visited{
    text-decoration: none;
    color: #111111;
    background-color: cornsilk;
}

a:hover{
    font-weight: bold;
}

.nav_bar ul{
    list-style-type:none;
    margin:0;
    padding: 0;
}

.nav_bar h1{
    border:1px solid black;
}

.nav_bar li{
    display:block;
    float:left;
}

.nav_bar li a{
    text-align: center;
    border:1px solid black;
    font-size: 30px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: papayawhip;
    color: #111111;
}

#title{
    margin-top:-21px;
    margin-bottom: 0px;
}

#segnalibri{
    height: auto;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 30px;
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    width: 350px;
}

#form{
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    width: 350px;
    margin-top: 60px;
    margin-bottom: 5px;
    padding: 10px;
    height: auto;
    margin-left: 220px;
    margin-right: auto;
    background-color:  blanchedalmond;
    color: #111111;
}

#form input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

